<a href="https://colab.research.google.com/github/Sj-Onadi/GitHub-assignments/blob/main/Assignment_(Basic_Python)_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Practice Problems

### 1. Find the Largest of Two Numbers
**Task:** Given two numbers, find the larger one.  
**Demo Input:**  5 and 6 <br>
**Output:** 6

In [ ]:
a=5
b=6
if a>b:
  print(a)
else:
  print(b)

6

### 2. Print Numbers from 1 to N
**Task**: Given a number `n`, print all numbers from 1 to `n`. <br>
**Demo Input**: `5`  <br>
**Demo Output**:  1 2 3 4 5

In [ ]:
N=5
for i in range (1,N+1):
    print (i)

1
2
3
4
5

### 3. Check if a Number is Positive or Negative
**Task**: Determine if the input number is positive, negative, or zero.  
**Demo Input**: `-3`  
**Demo Output**: `The number is Negative`

In [ ]:
number=-3
if number > 0:
    print("The number is Positive")
elif number < 0:
    print("The number is Negative")
else:
    print("The number is Zero")

The number is Negative

### 4. Calculate the Sum of Digits
**Task**: Given a number, find the sum of its digits.  
**Demo Input**: `123`  
**Demo Output**: `6`  
(Explanation: `1+2+3=6`)

In [ ]:
n=1,2,3
print(sum(int(d) for d in n))

6

### 5. Find Factorial of a Number
**Task**: Calculate the factorial of a given number.  
**Demo Input**: `4`  
**Demo Output**: `24`  
(Explanation: `4! = 4*3*2*1 = 24`)

### 6. Count Occurrences of a Digit
**Task**: Count how many times a specific digit appears max in a number.  
**Demo Input**:  1233321 <br>
**Demo Output**: `3`  <br>
(Explanation: `3` appears 3 times in `1233321`)

In [ ]:
num = 1233321
num_str = str(num)

### 7. Find the GCD of Two Numbers
**Task**: Find the greatest common divisor (GCD) of two numbers.  
**Demo Input**: 8 and 12 <br>
**Demo Output**: `4`

In [ ]:
a = 8
b = 12

### 8. Reverse a String
**Task**: Reverse the given string.  
**Demo Input**: `"aiquest"`  
**Demo Output**: `"tseuqia"`

In [ ]:
s = "aiquest"
reversed_s = s[::-1]
print(f"The reversed string is '{reversed_s}'")

The reversed string is 'tseuqia'

### 9. Check Armstrong Number
**Task**: Check if a number is an Armstrong number (the sum of its digits raised to the power of the number of digits equals the number).  
**Demo Input**: `153`  
**Demo Output**: `153 is an Armstrong Number`  
(Explanation: \(1^3 + 5^3 + 3^3 = 153\))

### 10. Generate a Pattern
**Task**: Print a pyramid pattern with `n` rows.  
**Demo input:** 4 <br>
**Output:** You will see the pyramid pattern with 4 rows

# Good Luck!